h1 {
  background-image: url("https://images.all-free-download.com/images/graphiclarge/landscape_mountain_rock_rural_snow_stone_winter_597783.jpg");
  color: white;
  font-family: arial;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  font-size: 60px;
}
body {
	background-color: #917d82;
}
